.brandsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
    margin: 1.5rem 0;
}