.productSliderContainer{
    position: relative;
    overflow: hidden;
    margin: 5rem auto;
    padding: 0 1rem;
}
.productSliderContainer h3{
    text-align: center;
    letter-spacing: 4px;
    font-weight:lighter;
}
.productSliderContainer .lineDivisor{
    margin: 0.7rem auto;
}
.sliderContainer{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}
.sliderItem{
    flex: 0 0 50%;
    flex-basis: 255px;
    scroll-snap-align: center;
    text-align: center;
    padding-bottom: 0.5rem;
}
.sliderItem img{
    width: 100%;
}
.sliderItem p{
    margin-top: 0.5rem;
}
.sliderPrice{
    color: var(--primary);
}
.dotsContainer{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    align-items: center;
    height: 10px;
}
.dot{
    width: 5px;
    height: 5px;
    border: 1px solid var(--transparent);
    transform: rotate(45deg);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.active{
    background-color: var(--transparent);
}