.collectionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}
.collectionsContainer video{
    width: 100%;
}
.octoberCollection{
    position: relative;
}
.octoberCollection h2{
    position: absolute;
    bottom: 0;
    font-family: "Bodoni Moda", serif;
    font-style: italic;
    color: var(--body);
    opacity: 50%;
    font-size: 162.7px;
    letter-spacing: -35px;
    right: 4rem;
    font-weight: bolder;
}
.octoberCollection h3{
    position: absolute;
    bottom: 35%;
    right: 0.8rem;
    font-size: 41.86px;
    font-weight: bold;
    font-family: "Bodoni Moda", serif;
    font-style: italic;
    color: var(--ofWhite);
    z-index: 1;
}
.octoberCollection h4{
    position: absolute;
    bottom: 35%;
    right: 1.3rem;
    color: var(--ofWhite);
    z-index: 1;
    font-weight:lighter;
    letter-spacing: 5px;
    font-size: 0.8rem;
}
.autumnCollection{
    position: relative;
}
.autumnCollection h2{
    position: absolute;
    top: 15%;
    opacity: 0.8;
    right: 1.5rem;
    font-size: 41.86px;
    font-weight: bold;
    font-family: "Bodoni Moda", serif;
    font-style: italic;
    color: var(--body);
}
.autumnCollection h4{
    position: absolute;
    top: 32%;
    right: 1.8rem;
    font-weight:lighter;
    letter-spacing: 5px;
    font-size: 11.32px;
}