
.socialContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.socialContainer>svg{
    fill: var(--body);
    stroke: var(--body);
}
.infoContainer{
    margin: 2rem 0;
    text-align: center;
    position: relative;
}
.infoContainer>p{
    margin-bottom: 0.8rem;
}

.lineDiv{
    width: 120px;
    border-bottom: 1px solid var(--transparent);
    margin: 1.5rem auto;
    position: relative;
}
.lineDiv::after{
    content: '';
    position: absolute;
    border: 1px solid var(--transparent);
    width: 4px;
    height: 4px;
    left: 50%;
    bottom: -3.5px;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    z-index: 2;
    background-color: var(--ofWhite);
}
.navigationContainer{
    display: flex;
    justify-content: space-evenly;
}
.copyrightContainer{
    padding: 1rem;
    margin-top: 2rem;
    font-size: 12px;
    text-align: center;
    background-color: #c4c4c442;
}