/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
/* VARIABLE */
:root{
    --primary: #A8715A;
    --secondary: #DD8560;
    --titleActive: #000000;
    --body: #333333;
    --label: #555555;
    --placeholder: #888888;
    --transparent:#8888887a;
    --line: #E0CFBA;
    --inputBackground : #f9f9f9;
    --background : #F8F0E7;
    --ofWhite: #fcfcfc;
}
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tenor Sans", sans-serif;
}
svg{
    stroke: var(--titleActive);
}
a{
    color: var(--titleActive);
    text-decoration: none;
}
/* Components */
.lineDiv{
    width: 120px;
    border-bottom: 1px solid var(--transparent);
    margin:auto;
    position: relative;
}
.lineDiv::after{
    content: '';
    position: absolute;
    border: 1px solid var(--transparent);
    width: 4px;
    height: 4px;
    left: 50%;
    bottom: -3.5px;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    z-index: 2;
    background-color: var(--ofWhite);
}